.gameContainer {
    display: flex;
    flex-direction: column;

    cursor: pointer;

    align-items: center;

    text-wrap: nowrap;
}

.gameCover img {
    width: 200px;
    height: 270px;
}

.gameCover {
    width: 210px;
    height: 280px;

    border: 5px solid #df65eb;
    transition: 500ms;
}

.gameCover:hover {
    transform: scale(1.05);
    border: 5px solid #32c5ff;

    transition: 500ms;
}

.gameInfoAble {
    opacity: 1;
    display: flex;
    transition: opacity 2s;
}

.gameInfoDisable {
    opacity: 0;
    display: none;
    transition: opacity 2s;
}

